[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "punycoder"]
	path = punycoder
	url = https://github.com/bart-turczynski/punycoder
